@page
@model TimeBilling.Pages.CustomerBillingModel
@{
}
@*
    Specific to developement
    How vue is integrated into .net core app
*@
@section scripts {
    <script type="module" src="http://localhost:50577/src/main.js"></script>
}
<div id="app"></div>