@page
@model TimeBilling.Pages.IndexModel
@{
    // var productName = "Time Billing Services";
    ViewBag.Title = "Home Page";
}

    <h1>Time Billing</h1>
    <p>Time Billing is a solution to billing for small companies and individualls.</p>
